.field{
		padding: 10px;
		width: 385px;
		height: 385px;
		border: 5px solid black;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
}

.hide {
		background-color: transparent;
		width: 50px;
		height: 50px;
		margin: 1px;
}
.ring{
		border-radius: 50%;
		border: 1px solid gold;
		width: 50px;
		height: 50px;
}