.new-spend{
		display: flex;
		justify-content: space-between;
		width: 50%;
		margin: 0 auto;
		padding: 20px;
}
input{
		padding: 15px;
		font-size: 18px;
}
.item-name{
		width: 35%;
}
.cost{
		width: 25%;
}
.addBtn{
		padding: 5px 20px;
}